[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "memoiR"]
	path = memoiR
	url = https://github.com/ericmarcon/memoir
	shallow = true
	registered = true
[submodule "dbmss"]
	path = dbmss
	url = https://github.com/ericmarcon/dbmss
	shallow = true
	registered = true
[submodule "entropart"]
	path = entropart
	url = https://github.com/ericmarcon/entropart
	shallow = true
	registered = true
