[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dbmss"]
	path = dbmss
	url = https://github.com/ericmarcon/dbmss
[submodule "divent"]
	path = divent
	url = https://github.com/ericmarcon/divent
[submodule "entropart"]
	path = entropart
	url = https://github.com/ericmarcon/entropart
[submodule "memoiR"]
	path = memoiR
	url = https://github.com/ericmarcon/memoir
